/* -------------------------------- */
/*                                  */
/* -------------------------------- */


/* -------------------------------- */
/*  기본 설정                         */
/* -------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff ;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #000;
    width: 1331px;
}

#Sprite {
    display: inline-flex;
    position: relative;
}

/* -------------------------------- */
/*  최상단 메뉴                        */
/* -------------------------------- */


.service_area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: yellow;
    height: 23px;
    width: 1130px;
}

.sprite_round_right {
    display: inline-block;
    width: 26px;
    height: 26px;
    background: url("../image/base/naver_pakage.png");
    background-repeat: no-repeat;
    background-position: 92.271% 55.469%;
    margin: 0px auto;
    }

.sprite_naver_jr {
    display: inline-block;
    width: 60px;
    height: 10px;
    background: url("../image/base/naver_pakage.png");
    background-repeat: no-repeat;
    background-position: 87.632% 66.75%;
    margin: 0px auto;
    }

.sprite_happybean {

    display: inline-block;
    width: 34px;
    height: 11px;
    background: url("../image/base/naver_pakage.png");
    background-repeat: no-repeat;
    background-position: 63.3% 77.193%;
    margin: 0px auto;
    }


/* -------------------------------- */
/*  헤더 (로고, 검색창)                 */
/* -------------------------------- */

header {
    display: flex;
    flex-direction: row;
    background-color: blue;
    height: 160px;
    width: 1130px;
}

.sprite_top_logo {
    background-position: 0 -158px;
    position: absolute;
    display: block;
    width: 222px;
    height: 52px;
    background: url("../image/base/naver_pakage.png");
    background-repeat: no-repeat;
    background-position: 0 44.134%;
    margin: 0px auto;
    }








/* -------------------------------- */
/*  네비게이션                         */
/* -------------------------------- */

nav {
    background-color: blueviolet;
    height: 52px;
    width: 1130px;
}

main {
    background-color: rgb(0, 0, 0);
    height: 2437px;
    width: 1130px;
}

.section_l {
    width: 66.1%;
    background-color: rgb(58, 61, 59);
    height: 2000px;
    width: 750px;
    float: left;
}

.section_r {
    width: 32.2%;
    background-color: rgb(94, 99, 95);
    height: 2437px;
    width: 350px;
    float: right;
}






.article_f_ad {
    background-color: rgb(212, 68, 92);
    height: 135px;
}

.article_f_news {
    background-color: rgb(155, 4, 112);
    height: 50px;
}

.article_s_news {
    background-color: rgb(25, 182, 116);
    height: 56px;
}

.article_t_news {
    background-color: rgb(209, 165, 70);
    height: 260px;
}

.article_story_title {
    background-color: rgb(212, 68, 92);
    height: 32px;
}

.article_story_nav {
    background-color: rgb(155, 4, 112);
    height: 49px;
}

.article_f_story {
    background-color: rgb(25, 182, 116);
    height: 678px;
}

.article_f_story_video {
    background-color: rgb(209, 165, 70);
    height: 240px;
}

.article_s_story {
    background-color: rgb(25, 182, 116);
    height: 678px;
}

.article_s_story_video {
    background-color: rgb(209, 165, 70);
    height: 240px;
}

.article_add {
    background-color: rgb(209, 70, 93);
    height: 20px;
}






.aside_login {
    background-color: rgb(77, 42, 185);
    height: 135px;
}

.aside_weather {
    background-color: rgb(80, 8, 57);
    height: 50px;
}

.aside_f_ad {
    background-color: rgb(27, 207, 162);
    height: 200px;
}

.aside_shopping_t {
    background-color: rgb(198, 226, 97);
    height: 44px;
}

.aside_shopping {
    background-color: rgb(80, 8, 57);
    height: 115px;
}

.aside_shopping_photo {
    background-color: rgb(27, 207, 162);
    height: 936px;
}

.aside_hello_news {
    background-color: rgb(198, 226, 97);
    height: 125px;
}






.footer {
    background-color: rgb(39, 160, 158);
    height: 425px;
    width: 1130px;
}

.footer_ad {
    background-color: rgb(160, 103, 39);
    height: 134px;
}

.footer_notice {
    background-color: rgb(53, 160, 39);
    height: 48px;
}

.footer_partner_l {
    background-color: rgb(65, 39, 160);
    height: 105px;
    width: 66.1%;
    float: left;
}

.footer_partner_r {
    background-color: rgb(195, 44, 157);
    height: 105px;
    width: 32.2%;
    float: right;
}

.footer_corp {
    background-color: rgb(160, 39, 49);
    height: 42px;
}







.sprite_news_list {
    display: inline-block;
    width: 14px;
    height: 13px;
    background: url("../image/base/naver_pakage.png");
    background-repeat: no-repeat;
    background-position: 98.592% 95.466%;
    margin: 0px auto;
    }
.sprite_news_window {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url("../image/base/naver_pakage.png");
    background-repeat: no-repeat;
    background-position: 35.831% 82.368%;
    margin: 0px auto;
    }
.sprite_news_gear {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url("../image/base/naver_pakage.png");
    background-repeat: no-repeat;
    background-position: 98.824% 69.873%;
    margin: 0px auto;
    }
