/* -------------------------------- */
/*                                  */
/* -------------------------------- */

/* -------------------------------- */
/*  기본 설정                         */
/* -------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #000;
  /* width: 1331px; */
  /* margin-left: 410px; */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#Sprite {
  display: inline-flex;
  position: relative;
}

main {
  background-color: #fff;
  height: 1600px;
  width: 1130px;
}

.section_l {
  width: 66.1%;
  background-color: #fff;
  height: 1800px;
  width: 750px;
  float: left;
}

.section_r {
  width: 32.2%;
  background-color: #fff;
  height: 1600px;
  width: 350px;
  float: right;
}

#night {
  position: fixed;
  bottom: 10px;
  right: 20px;
}

.sprite_dot {
  display: inline-block;
  width: 2, 5px;
  height: 2.5px;
  background: url("../image/base/naver_pakage.png");
  background-repeat: no-repeat;
  background-position: 85.6% 62.086%;
  margin: 0px auto;
}

#wrap {
  display: block;
  width: 1130px;
  margin: 0 auto;
}

.special_bg {
  border-bottom: 1px solid #e4e8eb;
}

.gnb {
  position: relative;
  border-bottom: 1px solid #e4e8eb;
}

.main_footer {
  display: block;
  background-color: #fafbfc;
  border-top: 1px solid #e4e8eb;
}

/* -------------------------------- */
/*  최상단 메뉴                        */
/* -------------------------------- */

.service_area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: #fff;
  height: 23px;
  width: 1130px;
  margin: 15px 0px;
  font-size: 12px;
  font-weight: 400;
}

.top_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 280px;
}

.sprite_round_right {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url("../image/base/naver_pakage.png");
  background-repeat: no-repeat;
  background-position: 92.271% 55.469%;
  margin: 0px auto;
}

.sprite_naver_jr {
  display: inline-block;
  width: 60px;
  height: 10px;
  background: url("../image/base/naver_pakage.png");
  background-repeat: no-repeat;
  background-position: 87.632% 66.75%;
  margin: 0px auto;
}

.sprite_happybean {
  display: inline-block;
  width: 34px;
  height: 11px;
  background: url("../image/base/naver_pakage.png");
  background-repeat: no-repeat;
  background-position: 63.3% 77.193%;
  margin: 0px auto;
}

.sprite_naver_jr a:hover,
.sprite_naver_jr a:active {
  display: inline-block;
  width: 60px;
  height: 10px;
  background: url("../image/base/naver_pakage.png");
  background-repeat: no-repeat;
  background-position: 67.632% 74%;
  margin: 0px auto;
}

.sprite_happybean a:hover,
.sprite_happybean a:active {
  display: inline-block;
  width: 34px;
  height: 11px;
  background: url("../image/base/naver_pakage.png");
  background-repeat: no-repeat;
  background-position: 93.596% 49.875%;
  margin: 0px auto;
}

/* -------------------------------- */
/*  헤더 (로고, 검색창)                 */
/* -------------------------------- */

header {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  height: 100px;
  width: 1130px;
  margin: 22px;
}

.sprite_top_logo {
  display: block;
  width: 222px;
  height: 52px;
  background: url("../image/base/naver_pakage.png");
  background-repeat: no-repeat;
  background-position: 0 44.134%;
  margin: 0px auto;
}

.green_window {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 500px;
  height: 52px;
  border: 2px solid #1bce60;
  padding: 8px;
  background: white;
  margin-left: 25px;
  margin-top: 7px;
}
.input_text {
  width: 400px;
  height: 21px;
  margin: 6px 0 0 9px;
  border: 0;
  line-height: 21px;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  margin-top: 7px;
}
.sch_smit {
  width: 52px;
  height: 52px;
  margin: 0;
  border: 0;
  vertical-align: top;
  background: #1bce60;
  font-weight: bold;
  border-radius: 1px;
  cursor: pointer;
  margin-top: 7px;
}
.sch_smit:hover {
  background: #1bce60;
}

.sprite_sch_smit {
  display: block;
  width: 22px;
  height: 22px;
  background: url("../image/base/naver_pakage.png");
  background-repeat: no-repeat;
  background-position: 36.842% 99.485%;
  margin: 0px auto;
}

.sprite_keyboard {
  display: block;
  width: 19.5px;
  height: 12px;
  background: url("../image/base/naver_pakage.png");
  background-repeat: no-repeat;
  background-position: 99.881% 62.312%;
  margin: 0px 0px 0px 0px;
}

.sprite_keyword {
  display: block;
  width: 10px;
  height: 5px;
  background: url("../image/base/naver_pakage.png");
  background-repeat: no-repeat;
  background-position: 93.953% 63.704%;
  margin: 0px 0px 0px 0px;
}

/* -------------------------------- */
/*  네비게이션                         */
/* -------------------------------- */

nav {
  background-color: #fff;
  height: 52px;
  width: 1130px;
}

.main-nav_l li {
  text-align: center;
  display: inline;
  font-weight: 500;
  margin-right: 9px;
}

.main-nav_l li a:link,
.main-nav_l li a:visited {
  text-decoration: none;
  color: #1bcf61;
}

.main-nav_l li a:hover,
.main-nav_l li a:active {
  text-decoration: none;
  color: #1bcf61;
}

.main-nav_c li {
  text-align: center;
  display: inline;
  font-weight: 500;
  margin-right: 9px;
}

.main-nav_c li a:link,
.main-nav_c li a:visited {
  text-decoration: none;
  color: #000;
}

.main-nav_c li a:hover,
.main-nav_c li a:active {
  text-decoration: none;
  color: #000;
}

.main-nav_r li {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  display: inline;
  margin-right: 9px;
  float: right;
}

.main-nav_r li a:link,
.main-nav_r li a:visited {
  text-decoration: none;
  color: #5a5a5a;
}

.main-nav_r li a:hover,
.main-nav_r li a:active {
  text-decoration: none;
  color: #5a5a5a;
}

.sprite_mail {
  display: inline-block;
  width: 20.5px;
  height: 21px;
  background: url("../image/base/naver_pakage.png");
  background-repeat: no-repeat;
  background-position: 42.431% 99.229%;
  margin: 0px auto;
}
.sprite_tv {
  display: inline-block;
  width: 12px;
  height: 14px;
  background: url("../image/base/naver_pakage.png");
  background-repeat: no-repeat;
  background-position: 59.813% 53.535%;
  margin: 0px auto;
}
.sprite_arrow_down {
  display: inline-block;
  width: 11px;
  height: 7px;
  background: url("../image/base/naver_pakage.png");
  background-repeat: no-repeat;
  background-position: 77.389% 64.02%;
  margin: 0px auto;
}
.sprite_round_em {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("../image/base/naver_pakage.png");
  background-repeat: no-repeat;
  background-position: 98.592% 87.626%;
  margin: 0px auto;
}
.sprite_arrow_down_b {
  display: inline-block;
  width: 14px;
  height: 8.5px;
  background: url("../image/base/naver_pakage.png");
  background-repeat: no-repeat;
  background-position: 91.08% 61.021%;
  margin: 0px auto;
}

/* -------------------------------- */
/*  뉴스                         */
/* -------------------------------- */

.article_f_ad {
  background-color: #fff;
  height: 125px;
}

.article_f_news {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px 0px 0px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f7f9fa;
  border: solid 1px #d6d6d6;
  height: 50px;
  width: 750px;
}

.yh1 {
  color: #3665ca;
}

.yh_news_l {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.yh_news_r {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  font-weight: 350;
}

.yh_news {
  font-weight: 500;
}

.article_s_news {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 56px;
  width: 750px;
}

.sprite_newsstand {
  display: flex;
  width: 26.5px;
  height: 23.5px;
  background: url("../image/base/naver_pakage.png");
  background-repeat: no-repeat;
  background-position: 55.139% 76.585%;
  margin: 0px auto;
}

.newsstand a:link,
.newsstand a:visited {
  text-decoration: none;
  color: #000000;
}

.newsstand a:hover,
.newsstand a:active {
  text-decoration: none;
  color: #000000;
}

.newsstand {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 750px;
}

.newsstand_l {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 260px;
}

.newsstand_r {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90px;
}

.sprite_news_list {
  display: flex;
  width: 14px;
  height: 13px;
  background: url("../image/base/naver_pakage.png");
  background-repeat: no-repeat;
  background-position: 98.592% 95.466%;
  margin: 0px auto;
}

.sprite_news_window {
  display: flex;
  width: 13px;
  height: 13px;
  background: url("../image/base/naver_pakage.png");
  background-repeat: no-repeat;
  background-position: 35.831% 82.368%;
  margin: 0px auto;
}

.sprite_news_gear {
  display: flex;
  width: 15px;
  height: 15px;
  background: url("../image/base/naver_pakage.png");
  background-repeat: no-repeat;
  background-position: 98.824% 69.873%;
  margin: 0px auto;
}

.article_t_news {
  background-color: #fff;
  height: 260px;
}

.news_table {
  border-collapse: collapse;
  width: 750px;
  height: 260px;
  align-content: center;
}

.news_table th {
  border: 1px #dae1e6 solid;
}

.news_table td {
  border: 1px #dae1e6 solid;
}

/* -------------------------------- */
/*  오늘 읽을만한 글                    */
/* -------------------------------- */

.article_story_title {
  background-color: #fff;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 750px;
  margin-top: 10px;
}

.sprite_story_gear {
  display: inline-block;
  width: 11px;
  height: 11px;
  background: url("../image/base/naver_pakage.png");
  background-repeat: no-repeat;
  background-position: 68.298% 77.193%;
  margin: 0px 0px 2px 0px;
}

.article_story_nav {
  background-color: #fff;
  height: 50px;
}

.article_story_title_l {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 285px;
}

.article_story_title_r {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  font-weight: 300;
}

.st_num {
  font-weight: 500;
}

.st_head {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 1px;
}

/* -------------------------------- */
/*  추천 글                           */
/* -------------------------------- */

.article_f_story {
  background-color: #fff;
  height: 678px;
  /* width: 60%; */
  margin-top: 3%;
  margin-right: 5%;
}

.f_r_box a:link,
.f_r_box a:visited {
  text-decoration: none;
  color: #000;
}

.f_r_box a:hover,
.f_r_box a:active {
  text-decoration: none;
  color: #000;
}

.f_l_box {
  width: 170px;
  height: 144px;
  float: left;
}

.f_r_box {
  width: 75%;
  height: 144px;
  float: right;
  padding: 15px;
  font-size: 14px;
  line-height: 140%;
}

.f_r_box_title {
  color: #5853a0;
}

.story_table {
  border-collapse: collapse;
  width: 750px;
  height: 50px;
  align-content: center;
}

.story_table th {
  border: 1px #dae1e6 solid;
}

.story_table td {
  border: 1px #dae1e6 solid;
  font-weight: 600;
  color: ;
}

/* -------------------------------- */
/*  추천 글 영상                       */
/* -------------------------------- */

.article_f_video {
  background-color: #fff;
  height: 236px;
}

.f_t_video {
  float: inline-start;
}

.f_u_video {
  width: 25%;
  float: inline-end;
  padding-top: 10px;
}

/* -------------------------------- */
/*  왼쪽 섹션 하단 추가 버튼              */
/* -------------------------------- */

.article_add {
  background-color: #fff;
  height: 61px;
}

/* -------------------------------- */
/*  로그인 창                         */
/* -------------------------------- */

.aside_login {
  background-color: #f7f9fa;
  height: 135px;
  padding: 20px;
}

.log_in_button {
  width: 315px;
  height: 48px;
  margin: 0;
  border: 0;
  vertical-align: center;
  background: #1ace60;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  border-radius: 1px;
  cursor: pointer;
  margin-top: 7px;
}

.sprite_naver_login {
  display: inline-block;
  width: 60px;
  height: 12px;
  background: url("../image/base/naver_pakage.png");
  background-repeat: no-repeat;
  background-position: 71.316% 67.001%;
  margin: 0px auto;
}

.sprite_login_lock {
  display: inline-block;
  width: 10px;
  height: 14px;
  background: url("../image/base/naver_pakage.png");
  background-repeat: no-repeat;
  background-position: 94.884% 13.889%;
  margin: 0px auto;
}

.sprite_login_signup {
  display: inline-block;
  width: 11px;
  height: 11px;
  background: url("../image/base/naver_pakage.png");
  background-repeat: no-repeat;
  background-position: 74.272% 77.096%;
  margin: 0px auto;
}

.under_login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 315px;
}

.login_l {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  margin-top: 10px;
}

.login_r {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70px;
  margin-top: 10px;
}

/* -------------------------------- */
/*  날씨                         */
/* -------------------------------- */

.aside_weather {
  background-color: #fff;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  border: 1px solid #eeeeee;
  padding: 0px 20px 0px 20px;
}

.info_l_button {
  width: 24px;
  height: 24px;
  margin: 0;
  border: 1px solid #e4e8eb;
  vertical-align: center;
  background: #fff;
  border-radius: 1px;
  cursor: pointer;
  margin-top: 7px;
}

.info_r_button {
  width: 24px;
  height: 24px;
  margin: 0;
  border: 1px solid #e4e8eb;
  vertical-align: center;
  background: #fff;
  border-radius: 1px;
  cursor: pointer;
  margin-top: 7px;
}

.sprite_l_button {
  display: inline-block;
  width: 5.5px;
  height: 9px;
  background: url("../image/base/naver_pakage.png");
  background-repeat: no-repeat;
  background-position: 77.1% 73.815%;
  margin: 0px auto;
}

.sprite_r_button {
  display: inline-block;
  width: 5.5px;
  height: 9px;
  background: url("../image/base/naver_pakage.png");
  background-repeat: no-repeat;
  background-position: 75.287% 73.815%;
  margin: 0px auto;
}

.stock_l {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  margin-top: 5px;
}

.stock_r {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40px;
  padding-bottom: 2px;
}

.stock1 {
  font-weight: 500;
}

.stock3 {
  font-weight: 500;
}

/* -------------------------------- */
/*  우측 광고                         */
/* -------------------------------- */

.aside_f_ad {
  background-color: rgb(27, 207, 162);
  height: 200px;
  border: solid 1px #e4e8eb;
}

/* -------------------------------- */
/*  쇼핑                             */
/* -------------------------------- */

.aside_shopping_t {
  background-color: #fff;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 350px;
}

.aside_shopping {
  background-color: #f7f9fa;
  height: 70px;
  border: solid 1px #e4e8eb;
  padding: 20px;
  font-weight: 350;
  align-items: center;
}

.shop_head_l {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  margin-top: 5px;
}

.shop_head_r {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  margin-top: 5px;
}

.shop_h1 {
  font-size: 15px;
  font-weight: 400;
}

.shop_h2 {
  font-size: 15px;
  font-weight: 400;
  color: #00c75a;
}

.shop_h3 {
  font-size: 15px;
  font-weight: 400;
}

.shop_h4 {
  font-size: 15px;
  font-weight: 400;
}

/* -------------------------------- */
/*  쇼핑몰 사진                        */
/* -------------------------------- */

.aside_shopping_photo {
  background-color: #fff;
  height: 936px;
}

.shopping_l_button {
  width: 29px;
  height: 29px;
  margin: 0;
  border: 1px solid #e4e8eb;
  vertical-align: center;
  background: #fff;
  border-radius: 1px;
  cursor: pointer;
  margin-top: 7px;
}

.shopping_r_button {
  width: 29px;
  height: 29px;
  margin: 0;
  border: 1px solid #e4e8eb;
  vertical-align: center;
  background: #fff;
  border-radius: 1px;
  cursor: pointer;
  margin-top: 7px;
}

.shopping_t {
  float: inline-start;
  align-items: center;
}

.shopping_u {
  margin-left: 3px;
  align-items: center;
  font-weight: 300;
}

.shopping_button_t {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 344px;
}

.shopping_button_u {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 344px;
}

.button_num1 {
  margin-top: 7px;
  margin-right: 10px;
}

.button_num2 {
  margin: 7px 10px 0px 9px;
}
/* -------------------------------- */
/*  반갑다 쇼핑 뉴스                    */
/* -------------------------------- */

.aside_hello_news {
  background-color: #fff;
  height: 125px;
  line-height: 25px;
  width: 350px;
  line-height: 25px;
  margin-top: 20px;
}

.hello_news_title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 350px;
}

.hello_news {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 350px;
}

.hello_news_l {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.hello_news_r {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.hello_t {
  font-weight: 500;
  font-size: 15px;
}

.aside_hello_news a:link,
.aside_hello_news a:visited {
  text-decoration: none;
  color: #000;
}

.aside_hello_news a:hover,
.aside_hello_news a:active {
  text-decoration: none;
  color: #000;
}

/* -------------------------------- */
/*  footer                          */
/* -------------------------------- */

.footer {
  background-color: #fafbfc;
  height: 325px;
  width: 1130px;
  border-top: solid 1px #e4e8eb;
}

.footer_bold_font {
  font-weight: 500;
  font-size: 14px;
  color: #323232;
  margin-right: 30px;
}

.footer_bold_font_1 {
  font-weight: 500;
  font-size: 14px;
  color: #323232;
}

/* -------------------------------- */
/*  footer 광고                      */
/* -------------------------------- */

.footer_ad {
  background-color: r#fafbfc;
  height: 200px;
  border-top: solid 1px #e4e8eb;
}

.footer_l_box {
  width: 160px;
  height: 86px;
  float: left;
}

.footer_r_box {
  width: 50%;
  height: 86px;
  float: right;
  padding-top: 5px;
  font-size: 14px;
  line-height: 140%;
}

.footer_r_box_title {
  color: #5853a0;
}

.footer_r_box a:link,
.footer_r_box a:visited {
  text-decoration: none;
  color: #000;
}

.footer_r_box a:hover,
.footer_r_box a:active {
  text-decoration: none;
  color: #000;
}

/* -------------------------------- */
/*  footer 공지사항                   */
/* -------------------------------- */

.footer_notice {
  background-color: #fafbfc;
  height: 48px;
  border-top: solid 1px #e4e8eb;
  border-bottom: solid 1px #e4e8eb;
  padding-top: 15px;
}

/* -------------------------------- */
/*  footer 파트너                     */
/* -------------------------------- */

.footer_partner_l {
  background-color: #fafbfc;
  height: 105px;
  width: 66.1%;
  float: left;
  line-height: 25px;
  padding-top: 15px;
}

.footer_partner_r {
  background-color: #fafbfc;
  height: 105px;
  width: 33.2%;
  float: right;
  padding-top: 15px;
}

/* -------------------------------- */
/*  footer 기업 정보                  */
/* -------------------------------- */

.footer_corp {
  display: inline-block;
  background-color: #fafbfc;
  height: 42px;
  width: 1130px;
  border-top: solid 1px #e4e8eb;
  padding-top: 20px;
}

/* -------------------------------- */
/*  나이트 모드                        */
/* -------------------------------- */

.sprite_night {
  display: inline-block;
  width: 136px;
  height: 52px;
  background: url("../image/base/naver_pakage.png");
  background-repeat: no-repeat;
  background-position: 88.816% 30.866%;
  margin: 0px auto;
}

.sprite_home {
  display: inline-block;
  width: 51px;
  height: 51px;
  background: url("../image/base/naver_pakage.png");
  background-repeat: no-repeat;
  background-position: 52.185% 59.053%;
  margin: 0px auto;
}
