* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  /*  white-space: nowrap;*/
}

a {
  text-decoration: none;
}



body, button, input, select, table, textarea {
  font-size: 12px;
  line-height: 16px;
  color: #202020;
  font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
}

li {
  list-style: none;
}
