@media (min-width: 1281px) {
  .react_layer_item {
    display: none;
  }
}

@media (max-width: 1280px) {
  /* 전체 레이아웃 */
  .react_body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1504px;
    background-color: rgba(128, 128, 128, 0.1);
    position: relative;
  }

  .all_react_layer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 190px 184px 914px 216px;
    row-gap: 10px;
    width: 80%;
    height: 1504px;
    margin: auto;
    position: absolute;
    left: 0;
  }

  .react_layer_item {
    width: 100%;
  }

  .react_layer_item:nth-of-type(4),
  .react_main_grid_item {
    background-color: white;
  }

  .react_header,
  .react_main,
  .react_footers {
    width: 100%;
  }

  /* 헤더 */
  .react_header {
    height: 100%;
    display: grid;
    grid-template-rows: 50px 60px 80px;
  }

  /* 최상단 아이콘 */
  .react_header_grid_item:first-child {
    font-size: 32px;
    position: relative;
    opacity: 0.6;
  }

  .react_header_grid_item:first-child > a:last-child {
    position: absolute;
    right: 0px;
  }

  /* 네이버 로고 */
  .react_header_grid_item:nth-child(2) {
    text-align: center;
    font-family: Arial;
    font-size: 50px;
    font-weight: 800;
  }

  .react_header_grid_item:nth-child(2) > a {
    color: #03c75a;
  }

  /* 검색창 */
  /*form 숨기기*/
  .hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px 1px 1px 1px);
  }

  .react_header_grid_item:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  #react_search_bar {
    width: 40vh;
    height: 50px;
    border: 2px solid #03c75a;
    position: relative;
  }

  .react_bar {
    width: 7vh;
    display: flex;
    top: 27px;
    text-align: right;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    margin-left: 32vh;
  }

  .react_bar > a > i {
    margin: 0 5px;
    font-size: 24px;
    color: #03c75a;
  }

  .react_search_button {
    position: absolute;
    width: 1px;
    height: 1px;
    border: none;
  }

  /*메뉴*/
  .react_layer_item:nth-child(2) {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 67px 67px;
    justify-content: center;
  }

  .icon_wrapper {
    overflow: hidden;
  }

  .icon_wrapper > a > i {
    width: 60px;
    height: 30 px;
  }

  .react_grid_container {
    border: 2px solid black;
  }

  /*main*/
  .react_layer_item:nth-child(3) {
    display: grid;
    grid-template-rows: 90px 85px 130px 70px 55px 55px 185px 174px;
    grid-template-columns: auto;
    row-gap: 10px;
  }

  .react_main_grid_item:first-child,
  .react_main_grid_item:nth-child(2),
  .react_main_grid_item:nth-child(7) {
    display: flex;
    justify-content: center;
  }

  .react_main_grid_item:first-child > img,
  .react_main_grid_item:nth-child(2) > img,
  .react_main_grid_item:nth-child(7) > img {
    width: 80vh;
  }

  /* 메인섹션3 */
  .react_main_grid_item:nth-child(3) {
    display: flex;
    flex-direction: column;
  }

  .weather_title {
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;

    padding-left: 15px;
  }

  .weather_title > a:first-of-type {
    margin-left: 10px;
    opacity: 0.6;
  }

  .weather_title > a:last-child {
    position: absolute;
    right: 15px;
  }

  .weather_content {
    text-align: center;
    padding-top: 10px;
  }

  /* 메인섹션4 */
  .react_main_grid_item:nth-child(4),
  .react_main_grid_item:nth-child(5),
  .react_main_grid_item:nth-child(6) {
    display: flex;
    align-items: center;
  }

  .row_align {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding-left: 15px;
  }

  .app_link_box {
    width: 84px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    position: absolute;
    right: 10px;
    border: 1px solid #a6ccef;
    color: #a6ccef;
  }

  /* 메인섹션5,6 */
  .row_align > span {
    font-weight: bold;
  }

  .row_align > a {
    position: absolute;
    right: 10px;
  }

  /* 메인섹션8 */
  .react_main_grid_item:nth-child(8) {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }

  .pan_grid_container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 260px 260px;
    grid-template-rows: 45px 45px;
    row-gap: 7px;
    column-gap: 10px;
  }

  .pan {
    background-color: rgba(128, 128, 128, 0.1);
  }

  /* footer */
  .react_layer_item:nth-child(4) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .react_layer_item:nth-child(4) > div {
    width: 100%;
    height: 108px;
    font-size: 14px;
    text-align: center;
    padding-top: 64px;
    opacity: 0.5;
    line-height: 1.2rem;
  }

  .react_layer_item:nth-child(4) > div:last-child {
    padding-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 800;
  }

  /* 감출것 */
  .footer,
  .main,
  .header {
    display: none;
  }
}
