@media screen and (max-width: 500px) {
    header {
        display: none;
    }
    
    .container {
        display: none;
    }

    footer {
        display: none;
    }

    body {
        margin: 0;
        width: 100%;
    }


    .m-top {
        display: flex;
        justify-content: space-between;
    }



    .m-top-left-logo {
        background: url('/css/mobile.png') no-repeat -278px -205px;
	    background-size: 460px 447px;
	    width: 23px;
        height: 17px;
        margin: 15px 20.5px;
    }

    .m-top-center img {
        width: 100%;
        margin-top: -24%;
    }

    .m-top-right-logo {
        background: url('/css/mobile.png') no-repeat -314px 0;
	    background-size: 460px 447px;
	    width: 32px;
        height: 32px;
        margin: 10px 10px;
    }

    .m-search {
        display: flex;
        justify-content: center;
    }

    .m-search-icon1 {
        background: url('/css/mobile.png') no-repeat -355px -172px;
        background-size: 460px 447px;
        width: 20px;
        height: 26px;
        }
    
    .m-search-icon2 {
        background: url('/css/mobile.png') no-repeat -354px -141px;
        background-size: 460px 447px;
        width: 23px;
        height: 22px;
    }

    .m-search-icon3 {
        background: url('/css/mobile.png') no-repeat -355px -106px;
        background-size: 460px 447px;
        width: 20px;
        height: 26px;
    }

    .m-search-text {
        width: 80%;
        height: 54px;
    }
    
    #m-search-bar{
        outline: none;
        border: 1px solid #19ce60;
        border-radius: 2px;
        width: 100%;
        height: 54;
    }

    .m-search-logos {
        display: flex;
        position: relative;
        top: -2075%;
        left: 67%;
        
    }

    .m-search-logos div {
        margin: 0px 5px;
    }

    /* .m-chart1 {
        display: flex;
        justify-content: center;
    }

    .m-chart1 li{
        list-style: none;
    }

    .m-chart1 a {
        text-decoration: none;
        color: gray;
        font-size: 13px;
    } */

.m-chart1 {
    display: flex;
    justify-content: center;
}

.m-chart1 a {
    margin: 0px 10px;
}

.m-chart2 {
    display: flex;
    justify-content: center;
}

.m-chart2 a {
    margin: 0px 10px;
}

.m-chart {
    margin-top: 4%;
}

.m-ceter-img1 {
    margin-top: 10%;
    position: relative;
    margin-left: -12%;
}

.m-center-img2{
    margin-left: -5%;
}

.m-center-img3 {
    margin-top: 5%;
    margin-bottom: 5%;
}

.m-center-4 {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-top: 5%;
}

.m-4-text {
    margin-left: 3%;
}

.m-4-logo {
    background: url('/css/mobile.png') no-repeat -738px -664px;
	width: 22px;
	height: 12px;
}

.m-center-5 {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-top: 10%;
}

.m-center-6 {
    margin: 10% 0%;
}

.m-pan-top {
    display: flex;
    justify-content: space-between;
}

.m-pan-top a {
    color: gray;
    text-decoration: none;
}

.pan1 {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.pan2 {
    display: flex;
    justify-content: space-between;
    margin: 2% 0%;
    
}

.m-last {
    text-align: center;
    margin: 15% 0%;
}



}